In [2]:
import sys
import pandas as pd
sys.path.append("../src")


from read import read_texts_from_folder
from tokenizer import tokenize
from analyzer import analyze_tokens, get_top_terms
from utils import get_stopwords
from utils import merge_texts

[nltk_data] Downloading package punkt to /Users/dominik/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/dominik/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

## Load data + preprocessing

In [3]:
texts = read_texts_from_folder("../data")
full_text = merge_texts(texts)
all_tokens = tokenize(full_text)
print(f"{len(all_tokens)} loaded")

245362 loaded

## Analysis

In [4]:
stopwords = get_stopwords()
stats = analyze_tokens(all_tokens, stopwords)

## Stats

In [5]:
print("Total terms: ", stats["total_terms"])
print("Unique terms: ", stats["unique_terms"])
print("Stopword count: ", stats["stopword_count"])

Total terms:  245362
Unique terms:  21252
Stopword count:  119753

## Top 50

In [7]:
top_50_without = get_top_terms(stats["term_freq"], stopwords_set=stopwords)
top_50= get_top_terms(stats["term_freq"])

df = pd.DataFrame(top_50, columns=["Word", "Frequency"])
df_without = pd.DataFrame(top_50_without, columns=["Word (without stopwords)", "Frequency"])
df.index += 1
df_without.index += 1

df_combined = pd.concat([df, df_without], axis=1)
df_combined

     Word  Frequency Word (without stopwords)  Frequency
1     the      16427                      one        990
2     and       7358                    whale        954
3      of       7346                     said        754
4      to       5464                     like        660
5       a       5380                     upon        595
6      in       4642                    would        505
7    that       3222                      old        463
8      it       2919                      man        440
9     his       2615                       ye        421
10      i       2327                     ahab        416
11     as       2002                   whales        396
12   with       1994                      sea        392
13    was       1992                     time        391
14    but       1948                    alice        385
15     he       1867                     ship        384
16     is       1844                   little        376
17    for       1804                   though        375
18    all       1685                      yet        360
19   this       1581                     long        348
20     at       1545                    great        344
21    not       1401                     must        342
22    you       1350                      see        333
23     by       1300                  chapter        332
24     on       1265                    still        320
25     be       1216                      two        318
26     so       1195                     head        317
27   from       1155                      way        311
28    him       1081                   seemed        308
29    one        990                     last        306
30    had        955                  captain        293
31  whale        954                    could        290
32     or        945                    first        285
33   have        856                     well        284
34  there        839                    round        283
35    now        822                    white        278
36   they        785                      may        277
37   were        768                      say        276
38   said        754                     much        274
39   then        706                     thou        264
40  which        703                    three        263
41    are        690                       us        257
42   when        677                    never        246
43     no        675                     boat        243
44   what        672                    every        242
45  their        670                    sperm        237
46     me        669                       go        235
47   some        666                     know        232
48   like        660                    thing        232
49     an        656                    stubb        228
50    she        651                      men        224